body {
    margin: 0;
}

.overall {
    background-image: url(img/bg2.jpeg);
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#pokedexArea {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(88,51,37);
    opacity: 0.8;
    padding: 15px;
    color: rgb(255,208,129);
    cursor: pointer;
    margin: 20px;
    width: 200px;
    height: 150px;
}

.pokedex:hover {
    opacity: 1;
}

.header {
    font-family: 'Londrina Outline', cursive;
    font-size: 90px;
    animation: textshadow 8s infinite alternate; 
    margin-bottom: 120px;
}

@keyframes textshadow {
    0%   { text-shadow: 1px 1px 0px rgb(20,15,12) }
    10%   { text-shadow: 3px 3px 2px rgb(20,15,12) }
    20%  { text-shadow: 9px 10px 6px rgb(170,102,34) }
    40%  { text-shadow: 10px 15px 6px rgb(51,38,39)}
    60%  { text-shadow: 0px 10px 4px rgb(51,38,39)}
    80%  { text-shadow: -10px 8px 3px rgb(51,38,39)}
    100%  { text-shadow: 1px 5px 1px rgb(51,38,39) }
}

h1 {
    font-family: 'Kranky', cursive;
    text-shadow: 2px 2px rgb(20, 15, 15);
    margin-bottom: -5px;
}

h2 {
    font-family: 'Delius Unicase', cursive;
    color: rgb(190,138,18);
    margin-bottom: 40px;
    text-shadow: 2px 2px rgb(51,38,39);
}

.logocard {
    width: 50px;
    height: 50px;
    margin-left: 46%;
}

.logo {
    width: 50px;
    height: 50px;
}

.overlay {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(51,38,39);
    opacity: 0.9;
}

.overlay-content {
    display: flex;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 750px;
    min-height: 550px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.line {
    width: 70vh;
}

.pokecard {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pokemon-pic {
    width: 150px;
    height: 150px;
    margin-left: 36%;
    margin-top: -29px;
    margin-bottom: -15px;
}

.X {
    height: 35px;
    cursor: pointer;
    transition: all ease-in-out 225ms;
    margin-top: 40px;
}

.X:hover {
    transform: scale(1.1);
}

p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    line-height: 0.1;
}

h3 {
    line-height: 0.1;
    font-family: 'Montserrat', sans-serif;
}

.minilogos {
    width: 25px;
    margin-left: 47%;
    margin-bottom: -10px;
}

.d-none {
    display: none;
}

@media (max-width: 815px) {
    .pokedex {
        width: 150px;
        height: 110px;
    }

    h1 {
        font-size: 27px;
    }

    .overlay-content {
        min-width: 550px;
        min-height: 530px;
    }

    .pokemon-pic {
        width: 130px;
        height: 130px;
        margin-left: 38%;
    }

    .X {
        height: 25px;
        margin-top: 10px;
    }

    .logocard {
        width: 30px;
        height: 30px;
        margin-left: 48%;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 17px;
    }
}

@media (max-width: 670px) {
    .header {
        font-size: 70px;
    }

    .pokedex {
        width: 130px;
        height: 100px;
    }
}

@media (max-width: 605px) {
    .header {
        font-size: 58px;
        margin-bottom: 45px;
    }

    #pokedexArea {
        flex-direction: column;
        margin: 0;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 18px;
    }

    .pokedex {
        margin: 10px;
    }

    .overlay-content {
        min-width: 300px;
    }
}